[submodule "python/debiasing/cmethods"]
	path = python/debiasing/cmethods
	url = https://github.com/alan-turing-institute/python-cmethods
[submodule "python/debiasing/python-cmethods"]
	path = python/debiasing/python-cmethods
	url = https://github.com/alan-turing-institute/python-cmethods
