project:
  title: "clim-recal"
  type: website
  output-dir: _site
  preview:
    port: 8080
    browser: false
  render:
    - "README.md"
    - "setup-instructions.md"
    - "!clim-recal.Rproj"
    - "R/README.md"
    - "R/misc/Identifying_Runs.md"
    - "R/comparing-r-and-python/HADs-reprojection/WIP-Comparing-HADs-grids.md"
    - "docs/cpm_projection.qmd"
    - "docs/reference"
    # - "docs/pipeline.qmd"
    - "docs/contributing.md"
    - "docs/datasets.qmd"
    - "docs/pipeline_guidance.qmd"
    - "docs/docker-configurations.qmd"
    - "python/README.md"
      # - "notebooks/Assessing_bc_data/MethodsAssessment_DecWorkshop.Rmd"
      # Requires dataset mounted to run notebook

toc: True
number-sections: True


# tell quarto to read the generated sidebar
metadata-files:
  - _sidebar.yml


website:
  back-to-top-navigation: true
  sidebar:
    style: "docked"
    search: true
    contents:
      - text: "Summary"
        href: "README.md"
      - text: "Install"
        href: "setup-instructions.md"
      - section: "Pipeline"
        contents:
          - text: "Guidance"
            href: "docs/pipeline_guidance.qmd"
          - text: "Diagram"
            href: "docs/pipeline.qmd"
          - text: "CPM Projection"
            href: "docs/cpm_projection.qmd"
      - text: "Generated Datasets"
        href: "docs/datasets.qmd"
      - section: "R"
        href: "R/README.md"
        contents:
          - href: "R/misc/Identifying_Runs.md"
            text: Identifying Runs
          - section: "Comparing R and Python"
            contents:
              - href: "R/comparing-r-and-python/HADs-reprojection/WIP-Comparing-HADs-grids.md"
                text: "WIP Comparing HADs grids"

      - section: "python"
        href: "python/README.md"
        contents:
          - section: "Reference"
            href: "docs/reference/index.qmd"
            contents:
              - href: "docs/reference/clim_recal.pipeline.qmd"
                text: "Pipeline"
              - href: "docs/reference/clim_recal.config.qmd"
                text: "Configure"
              - href: "docs/reference/clim_recal.ceda_ftp_download.qmd"
                text: "CEDA Data Access"
              - href: "docs/reference/clim_recal.data_loader.qmd"
                text: "Data Loading"
              - href: "docs/reference/clim_recal.resample.qmd"
                text: "Data Resampling"
              - section: "Debiasing"
                contents:
                  - href: "docs/reference/clim_recal.debiasing.debias_wrapper.qmd"
                    text: "Wrapper"
              - section: "Utilities"
                contents:
                  - href: "docs/reference/clim_recal.utils.core.qmd"
                    text: "core"
                  - href: "docs/reference/clim_recal.utils.server.qmd"
                    text: "server"
                  - href: "docs/reference/clim_recal.utils.xarray.qmd"
                    text: "xarray"
                  - href: "docs/reference/clim_recal.utils.data.qmd"
                    text: "data"
      - text: "Docker"
        href: "docs/docker-configurations.qmd"
      - text: "Contributing"
        href: "docs/contributing.md"


quartodoc:
  # the name used to import the package you want to create reference docs for
  package: python
  dir: docs/reference
  # The below probably requires a non `python` package name
  # dynamic: true
  # render_interlinks: true

  # write sidebar data to this file
  sidebar: _sidebar.yml
  source_dir: python/clim_recal
  # see: https://github.com/alan-turing-institute/clim-recal/issues/128
  sections:
    - title: Data Source Management
      desc: How data is downloaded and processed
      contents:
        # the functions being documented in the package.
        # you can refer to anything: class methods, modules, etc..
        - clim_recal.pipeline
        - clim_recal.ceda_ftp_download
        - clim_recal.data_loader
        - clim_recal.config
        - clim_recal.resample
        - clim_recal.debiasing.debias_wrapper
        - clim_recal.utils.core
        - clim_recal.utils.server
        - clim_recal.utils.xarray
        - clim_recal.utils.data
